#loginFormContainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#loginButton, .formInput, .formLabel {
    font-size: 10px;
}

#mainLoginContainer {
    height: 82vh;
}

@media(min-width: 411px) {
    #loginButton, .formInput, .formLabel {
        font-size: 13px;
    }
}

@media(min-width: 768px) {
    #loginFormContainer {
        margin: auto;
        width: 30vw;
    }
    #loginButton, .formInput, .formLabel {
        font-size: 15px;
    }
}

@media(min-width: 992px) {
    #loginButton, .formInput, .formLabel {
        font-size: 17px;
    }
}